@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/mixins/index";

.vdl-content__container {
  padding: 0 15px;
}

.main-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.code {
  padding: 10px;
  background: $black;
  color: $white;
}

#Aleft, #Aright, #Mright {display: inline-block; *display: inline; zoom: 1; vertical-align: top; padding: 10px; }

:host /deep/ .vdl-table--list > tbody > tr {
    height: 48px;
}

span.tab{
    padding: 0 700px; /* Or desired space*/
}

span.tab2{
    padding: 0 800px; /* Or desired space*/
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 50%;
  height: 30px;
  background-color:#286290;
}

#myProgress2 {
  width: 100%;
  background-color: #ddd;
}

#myBar2 {
  width: 10%;
  height: 30px;
  background-color:#286290;
}
.modal {
  background: rgba(0,0,0,0.6);
}
