@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/mixins/index";

.vdl-content__container {
  padding: 0 15px;
}

.main-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.code {
  padding: 10px;
  background: $black;
  color: $white;
}

.pointer-cursor {
  cursor: pointer;

}

.center{
    margin-right: 800px;
}

.toolbar {
  background-color: #0e5061;
  color: white
}

