<md-toolbar class="toolbar">
  <span class="center">Performance Improvement Suggestions</span>
  <span class="pointer-cursor"><md-icon (click)="refreshFeed()">Refresh</md-icon></span>
</md-toolbar>

<app-feed-card *ngFor="let feed of feeds" [feed]="feed" ></app-feed-card>
<app-spinner *ngIf="!feeds.length"></app-spinner>