
<div class="vdl-content__container">
  <adp-dashboard>
    <adp-tile title="Personal Information" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-6 vdl-col-lg-8">
      <div class="vdl-row">
        <div class="vdl-col-md-2">
          <adp-avatar size="md" url="https://placeimg.com/80/80/people"></adp-avatar>
        </div>
      <div class="vdl-col-md-5">
          <ul class="profile-fields">
              <li><i class="fa fa-user"></i>{{ fullName }}</li>
              <li><i class="fa fa-briefcase"></i>{{ jobTitle }}</li>
              <li><i class="fa fa-envelope"></i><a href="mailto:Jayshree.Kanse@adp.com">{{ mailId }}</a></li>
          </ul>
      </div>
      <div class="vdl-col-md-5">
          <ul class="profile-fields">
              <li><i class="fa fa-map-marker"></i>Roseland-1 ADP Blvd</li>
              <li><i class="fa fa-phone marRt15 icongray"></i>13365478910</li>
              <li><span class="fa fa-calendar"></span><span> Time With Company</span><br>
                <adp-data-coin value="1" percentage="10" description="year" size="md"></adp-data-coin>
                <adp-data-coin value="3" percentage="30" description="months" status="accent-1" size="md"></adp-data-coin>
                <adp-data-coin value="23" percentage="70" description="days" status="accent-4" size="md"></adp-data-coin>
              </li>
          </ul>
      </div>
    </div>
    </adp-tile>
    <adp-tile title="My Group" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-4 vdl-col-lg-4 ">
      <h4><strong><span>Manager : </span></strong>Rishabh Gupta</h4>
        <div adp-card-content><h3><strong>Small Business Services (SBS)</strong></h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus
          tellus, aliquam id elit at.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus
          tellus, aliquam id elit at.
        </div>
    </adp-tile>
  </adp-dashboard>
  <adp-dashboard>
    <adp-tile title="Goals Overview" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-3 vdl-col-lg-6 ">
      <!--adp-data-coin value="3" percentage="30" description="Completed" size="lg"></adp-data-coin-->
      <chart [options]="donutChartOptions"></chart>
    </adp-tile>

    <adp-tile title="Goals Overview" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-3 vdl-col-lg-6 ">
      <!--adp-data-coin value="3" percentage="30" description="Completed" size="lg"></adp-data-coin-->
      <chart [options]="donutChartOptions1"></chart>
    </adp-tile>

    <adp-tile title="Absences" id="lineId" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-12 vdl-col-lg-12">
      <chart [options]="lineChartOptions"></chart>
    </adp-tile>
    
  </adp-dashboard>
</div>
