@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/mixins/index";

.vdl-content__container {
  padding: 0 15px;
}

.main-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.code {
  padding: 10px;
  background: $black;
  color: $white;
}

ul.profile-fields li {
  list-style: none;
  list-style-image: initial;
  list-style-position: initial;
  margin-bottom: 15px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
    font-weight: 400;
    font-family: 'ProximaNova';
    font-size: 16px;
}

i::before, *:after {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul.profile-fields li i {
    color: #6a6a6a;
    margin-right: 5px;
}