@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/mixins/index";

.login-form-wrap{
  margin: auto;
  margin-top: 10%;
  position: relative;
}
.login-form{
  padding: 16px;
}
.login-form-inner{
  margin: auto;
  text-align: left;
}
.login-form-signup{
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0,0,0,.3);
}
