 <div class="login">
  <div class="vdl-container">
      <div class="vdl-row">
          <adp-tile cssClass="login-form-wrap vdl-col-sm-6 vdl-col-md-6 vdl-col-lg-6 mason-brick">
              <form #form1="ngForm" class="login-form">
                <h2>Performance Management Login</h2>
                <div class="vdl-container">
                  <div class="vdl-row">
                    <div class="vdl-col-md-12 vdl-col-sm-12">
                      <adp-form-group label="Employee Id" [control]="someFieldInput5" [required]="true">
                        <input type="email" class="form-control" required="true" name="emailAddress"minlength="10" />
                      </adp-form-group>
                    </div>
                    <div class="vdl-col-md-12 vdl-col-sm-12">
                      <adp-form-group label="Password" [control]="someFieldInput5" [required]="true">
                        <input type="password" class="form-control" required="true" name="password"minlength="10" />
                      </adp-form-group>
                    </div>
                    <div class="vdl-col-md-12 vdl-col-sm-12">
                      <adp-button buttonStyle="primary" class="login-form-submit" (click)="change()" >Login</adp-button>
                    </div>
                    <div class="login-form-signup vdl-col-md-12 vdl-col-sm-12">
                      <adp-button buttonStyle="secondary" routerLink="/dashboard">Create Account</adp-button>
                    </div>
                  </div>
                </div>
              </form>
          </adp-tile>
      </div>
  </div>
</div> 