@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/mixins/index";

// Employee Layout

$dashboard-nav-width: 85px;
$dashboard-menu-item-height: 70px;
$dashboard-nav-width-mobile: 275px;

.left-nav-framework__container {
  overflow: hidden;
  background: rgba(245, 245, 245, 0.95);
  position: relative;
  padding-right: 0;
  padding-left: 0;
  min-width: 300px;
  min-height: 100%;
}

.left-nav-framework__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.left-nav-framework__page-container {
  transition: all 0.15s ease-in;
  width: 100%;
}

.left-nav-framework__page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.95);
}

// Menu Open
.left-nav-framework--menu-open {

  .vdl-sidebar {
    margin-left: 0;
  }

  .left-nav-framework__page-container {
    padding-left: 275px;
  }

  @media (max-width: $screen-xs-min) {
    /deep/ .vdl-masthead-search {
      input, .vdl-masthead-search__icon {
        display: none;
      }
    }
  }

}

// Side Menu
.vdl-framework-template__sidebar {
  background-color: transparent;
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: $dashboard-nav-width-mobile;
}

@media (max-width: $screen-md-min) {
  .vdl-framework-template__sidebar {
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }

  .left-nav-framework--menu-open .vdl-framework-template__sidebar {
    opacity: 1.0;
    transition: opacity .25s ease-in-out;
  }
}

.vdl-framework-masthead__container {
  overflow: hidden;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  min-width: 300px;
  min-height: 100%;
}

// Page Wrapper
.vdl-framework-masthead__page {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
}

// Page Content
.vdl-framework-masthead__content {
  margin-top: 15px;
  flex: 1;
  min-height: 700px;
}

.vdl-row-padded{
  
}

// Responsive
@media (max-width: $screen-md-min) {
  .left-nav-framework__title {
    .vdl-button {
      display: block;
    }
  }
}

// Greater than mobile
@media (min-width: $screen-md) {
  .left-nav-framework__page-container {
    margin-left: $dashboard-nav-width;
  }
}
