<!-- Employee Layout -->
  <!-- <div>
 <app-login (notifyParent)="getNotification($event)" ></app-login>  
  <router-outlet></router-outlet>
 <p>{{showMessage}} </p>

</div> -->
 
<div  *ngIf="mybool == 'true'; else empty">   
<router-outlet></router-outlet>
</div>


  <ng-template #empty>  
<div class="left-nav-framework vdl-container"
     [ngClass]="{ 'left-nav-framework--menu-open': menuState === 'expand' }">
  <adp-masthead-logo-bar [clientLogoConfig]="mastheadConfig.clientLogo"></adp-masthead-logo-bar>
  <div class="left-nav-framework__container vdl-row">
    <div class="vdl-framework-template__sidebar">
      <adp-sidebar>
        <adp-sidebar-item *ngFor="let item of items"
                          [label]="item.label"
                          [icon]="item.icon"
                          (click)="menuClick($event)"
                          [active]="item.active">
        </adp-sidebar-item>
      </adp-sidebar>
    </div>
    <div class="left-nav-framework__page-container">
      <adp-masthead layoutType="employee"
                    [title]="title"
                    [config]="mastheadConfig"
                    [navigationMenu]="navigation"
                    (logoutClick)="logout()"
                    (searchChange)="searchChange($event)"
                    (searchClick)="searchClick()"
                    (mobileClick)="mobileClick()"
                    (clickAction)="getAction($event)">
      </adp-masthead>
      <div class="left-nav-framework__page">
        <div class="left-nav-framework__content">
          <div class="vdl-framework-masthead__container">
            <div class="vdl-framework-masthead__page">
              <div class="vdl-framework-masthead__content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <adp-footer><a href="#">Product Feedback</a>
      </adp-footer>
    </div>
  </div>
</div>
 </ng-template>   