@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/mixins/index";

.vdl-content__container {
  padding: 0 15px;
}

.main-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.code {
  padding: 10px;
  background: $black;
  color: $white;
}

:host /deep/ .vdl-table--list > tbody > tr {
    height: 48px;
}


.progress-dashboard{
  max-width: 100% !important;
  display: block;
  width: 500px;
}

