<div class="vdl-content__container">
    <adp-dashboard>
      <adp-tile title="Performance Overview" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-6 vdl-col-lg-8">
        <chart [options]="columnChartOptions"></chart>      
      </adp-tile>
      <adp-tile title="Top Performers" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-6 vdl-col-lg-4">
       <div class="showcase">
        <adp-table 
            [headers]="tableHeaders" 
            [dataset]="tableRows">
        </adp-table>
       </div>
      </adp-tile>
       <adp-tile title="Under Performers" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-6 vdl-col-lg-4">
       <div class="showcase">
        <adp-table 
            [headers]="tableHeaders" 
            [dataset]="tableRows2">
        </adp-table>
       </div>
      </adp-tile>
    </adp-dashboard>
    <adp-dashboard>
      <adp-tile title="Employee Skills" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-3 vdl-col-lg-6">
        <div  style="width:200px">
          <adp-dropdown-list [options]="list" placeholder="Select Skill" [(ngModel)]="formModel.selectedItem" (ngModelChange)="getSkillInfo(formModel.selectedItem.name,formModel.selectedItem.value)"></adp-dropdown-list >
       </div>
      <chart [options]="barChartOptions"></chart>      
      </adp-tile>
      <adp-tile title="Absences & Tardiness" cssClass="mason-brick vdl-col-sm-12 vdl-col-md-3 vdl-col-lg-6">
        <chart [options]="columnChartOptions2"></chart>      
      </adp-tile>

    </adp-dashboard>
    <adp-dashboard>
      <div class="vdl-content__container">
        <h2>My Reports</h2>
        <div class="vdl-row vdl-row-padded">
          <adp-card *ngFor="let i of teamMembers" cssClass="vdl-col-md-3" center="true" title={{i.firstName}}-{{i.lastName}} subtitle={{i.title}} avatar="true" avatarURL="app/avatar/avatar.png" avatarSize="lg">
            <div adp-card-content>
              <div style="text-align:center;">Overall Progress of Goals Completed</div>
              <div class="progress progress-dashboard">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete</div><br>
              </div>
            </div>
            <div adp-card-actions>
              <div class="vdl--center">
                <adp-button buttonStyle="primary" (click)="btnClick(i.userId);">View Profile</adp-button>
              </div>
            </div>
          </adp-card>
        </div>
      </div>
    </adp-dashboard>
</div>
