@import "~adp-css-framework/scss/config";
@import "~adp-css-framework/scss/variables/index";
@import "~adp-css-framework/scss/mixins/index";
@import "~adp-css-framework/scss/vendor/normalize";
@import "~adp-css-framework/scss/global/html";
@import "~adp-css-framework/scss/global/grid";
@import "~adp-css-framework/scss/vendor/html5boilerplate-print";

html {
  background-image: url('assets/images/synergybg.jpg');
  background-attachment: fixed;
  background-size: cover;
}
